{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% if addressbook.id %}Edit{% else %}Create{% endif %} Addressbook Entry </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_widget(form.file) }}
    {% if form.vars.value.image %}
        <a href="{{asset('uploads/images/'~form.vars.value.image) }}" target="_blank">
            Show image
        </a>
        <br />
        <br />
    {% endif %}
    <input type="submit" value="Save" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('addressbook_index') }}">Back to the list</a>
        </li>
        {% if addressbook.id %}
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
