{% extends 'base.html.twig' %}

{% block body %}
    <h1>Addressbooks list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Zipcode</th>
                <th>City</th>
                <th>Street</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Country</th>
                <th>Image</th>
               
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for addressbook in addressbooks %}
            <tr>
                <td><a href="{{ path('addressbook_show', { 'id': addressbook.id }) }}">{{ addressbook.id }}</a></td>
                <td>{{ addressbook.firstname }}</td>
                <td>{{ addressbook.lastname }}</td>
                <td>{{ addressbook.zipcode }}</td>
                <td>{{ addressbook.city }}</td>
                <td>{{ addressbook.street }}</td>
                <td>{{ addressbook.email }}</td>
                <td>{{ addressbook.phone }}</td>
                <td>{{ addressbook.country }}</td>
                <td>
                    {% if addressbook.image %}
                        <a href="{{asset('uploads/images/'~addressbook.image) }}" target="_blank">
                            Show image
                        </a>

                    {% endif %}
                    
                </td>
                
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('addressbook_show', { 'id': addressbook.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('addressbook_edit', { 'id': addressbook.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('addressbook_new') }}">Create a new addressbook</a>
        </li>
    </ul>
{% endblock %}
