{% extends 'base.html.twig' %}

{% block body %}
    <h1>Addressbook</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ addressbook.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ addressbook.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ addressbook.lastname }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ addressbook.zipcode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ addressbook.city }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ addressbook.street }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ addressbook.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ addressbook.phone }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ addressbook.country }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    {% if addressbook.image %}
                        <a href="{{asset('uploads/images/'~addressbook.image) }}" target="_blank">
                            Show image
                        </a>

                    {% endif %}
                </td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('addressbook_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('addressbook_edit', { 'id': addressbook.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
